<a href="https://colab.research.google.com/github/iaintageek/Coursera_Capstone/blob/master/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reading the table from the specified URL

In [0]:
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table=pd.read_html(url)

In [68]:
df=table[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

If the Borough is not assigned, then remove

In [69]:
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Use groupby() to combine repetititve Boroughs and join them using a comma

In [0]:
df = df.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)

Reset the index after grouping

In [0]:
df.reset_index(inplace = True)

If the neighbourhood is not assigned,then copy the borough value to the neighbourhood

In [0]:
for i in df.index: 
    if(df['Neighbourhood'][i] == 'Not assigned') :
      df.replace(df['Neighbourhood'][i] ,df['Borough'][i] )

Use shape to determine the shape of the resulting df

In [73]:
df.shape

(103, 3)

Read the csv file

In [74]:
url = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(url)
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Match the postcodes of both the dataframes and insert the value of latitude and longitude when matched

In [79]:
for i in df.index:
  for j in df1.index:
    if df1['Postal Code'][j]==df['Postcode'][i]:
      lat=pd.Series(df1['Latitude'][j])
      longi=pd.Series(df1['Longitude'][j])
      df['Latitude'][i]=lat
      df['Longitude'][i]=longi


df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

    Postcode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A  Downtown Toronto  ...  43.662301 -79.389494
..       ...               ...  ...        ...        ...
98       M8X         Etobicoke  ...  43.653654 -79.506944
99       M4Y  Downtown Toronto  ...  43.665860 -79.383160
100      M7Y      East Toronto  ...  43.662744 -79.321558
101      M8Y         Etobicoke  ...  43.636258 -79.498509
102      M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

In [80]:
cols=['Postcode','Borough','Neighbourhood','Latitude','Longitude']
df=df[cols]
df.head()

  Postcode           Borough  ...   Latitude  Longitude
0      M3A        North York  ...  43.753259 -79.329656
1      M4A        North York  ...  43.725882 -79.315572
2      M5A  Downtown Toronto  ...  43.654260 -79.360636
3      M6A        North York  ...  43.718518 -79.464763
4      M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]