<a href="https://colab.research.google.com/github/iaintageek/Coursera_Capstone/blob/master/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reading the table from the specified URL

In [0]:
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table=pd.read_html(url)

In [28]:
df=table[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

If the Borough is not assigned, then remove

In [29]:
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Use groupby() to combine repetititve Boroughs and join them using a comma

In [0]:
df = df.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)

Reset the index after grouping

In [0]:
df.reset_index(inplace = True)

If the neighbourhood is not assigned,then copy the borough value to the neighbourhood

In [0]:
for i in df.index: 
    if(df['Neighbourhood'][i] == 'Not assigned') :
      df.replace(df['Neighbourhood'][i] ,df['Borough'][i] )

Use shape to determine the shape of the resulting df

In [33]:
df.shape

(103, 3)